<template>
<div>
  <form>
  <div v-if="erreurs.length > 0">
    <ul>
      <li v-for="(erreur, index) in erreurs" :key="index">{{erreur}}</li>
    </ul>
  </div>
    <input type="text" v-model="bonbons"/>
    <button type="submit" @click=creerListe>Créer</button>
    </form>
</div>

</template>

<script>

export default {
  name: 'creerListe',
  data: function () {
    return { erreurs: [], bonbons: '' }
  },
  methods: {
    creerListe: function () {
      if (!this.bonbons) {
        this.erreurs = ['Le choix de bonbons ne doit pas être vide']
      } else {
        let listes = localStorage.getItem('listes')
        let id
        if (listes === null) {
          listes = []
          id = 0
        } else {
          listes = JSON.parse(listes)
          id = listes.length
        }
        listes.push({ bonbons: this.bonbons, items: [], editable: true })
        localStorage.setItem('listes', JSON.stringify(listes))
        this.$router.push({ path: '/liste', query: { id: id, allo: 'aaa' } })
      }
    }

  }
}
</script>

<style>

</style>
