<template>
<div>
  <form id="mon-form">
    <input type="text" required v-model="bonbons"/>
    <button type="submit">Créer</button>
    </form>
</div>

</template>

<script>
import $ from 'jquery' // une méthode pour ne pas avoir à faire window.$
export default {
  name: 'creerListe',
  data: function () {
    return { erreurs: [], bonbons: '' }
  },
  mounted: function () {
    $('#mon-form').validate()
  },
  methods: {
    checkForm: function (e) {
      this.erreurs = []
      if (this.nom === '') {
        this.erreurs.push('Vous devez choisir des bonbons')
      }

      if (this.erreurs.length > 0) {
        e.preventDefault()
      } else {
        this.creerListe()
      }
    },
    creerListe: function () {
      if (!this.bonbons) {
        this.erreurs = ['Le choix de bonbons ne doit pas être vide']
      } else {
        let listes = localStorage.getItem('listes')
        let id
        if (listes === null) {
          listes = []
          id = 0
        } else {
          listes = JSON.parse(listes)
          id = listes.length
        }
        listes.push({ bonbons: this.bonbons, items: [], editable: true })
        localStorage.setItem('listes', JSON.stringify(listes))
        this.$router.push({ path: '/liste', query: { id: id, allo: 'aaa' } })
      }
    }

  }
}
</script>

<style>

</style>
