<template>
<div>
    <div v-if="produits.length > 0">
    <p v-for="(produit, index) in produits" :key="index">{{produit.bonbons}} - {{produit.prix}} $</p>
    </div>
    <div v-else>
aucun
    </div>
</div>
</template>

<script>
export default {
  name: 'voir-tous',
  data: function () {
    return { produits: [] }
  },
  mounted: function () {
    const self = this
    window.$.ajax({
      url: window.urlServiceWeb + 'items',
      success: function (msg) {
        self.produits = JSON.parse(msg)
      }
    })
  }
}
</script>

<style>

</style>
