$couleur1: #fff;
$couleur2: rgb(132, 214, 145);
$couleur3: rgb(45, 75, 45);
$background-color: rgb(200, 206, 192);
$couleur-font: black;


// *{

// }

// body{

// }

h1,h2{
    font-size: 30px;
}

h3,h4{
    font-size: 25px;
}

h5,h6{
    font-size: 20px;
}

p{
    font-size: 23px;
    color: $couleur-font;
}

// a{

// }

// li{

// }

// nav{

// }

// footer{

// }